In [1]:
import pandas as pd

In [2]:
raw_data=pd.read_csv('dataset_shop.csv')
raw_data

    tid                       items
0     1                 Kemeja,Kaos
1     2                       Jeans
2     3                Jeans,Sendal
3     4                      Sepatu
4     5               Sepatu,Kemeja
5     6               Kemeja,Sendal
6     7           Kaos,Jeans,Sepatu
7     8                 Sepatu,Kaos
8     9           Kaos,Jeans,Kemeja
9    10          Sepatu,Sendal,Kaos
10   11                 Kaos,Sepatu
11   12               Sendal,Kemeja
12   13  Kemeja,Sendal,Jeans,Sepatu
13   14                Sendal,Jeans
14   15         Sepatu,Jeans,Kemeja

In [3]:
raw_data['items']
recodes={'Kemeja':1,'Kaos':2,'Jeans':3,'Sepatu':4,'Sendal':5}
#data=raw_data['items'].map(recodes)
cm_seperate=raw_data['items']
#data=raw_data.copy()
#data['items']=data['items'].map({'Kemeja':1,'Kaos':2,'Jeans':3,'Sepatu':4,'Kaus kaki':5,'Sendal':6})
#data

In [4]:
cm_seperate=cm_seperate.apply(lambda x: x.split(','))

In [5]:
cm_seperate

0                      [Kemeja, Kaos]
1                             [Jeans]
2                     [Jeans, Sendal]
3                            [Sepatu]
4                    [Sepatu, Kemeja]
5                    [Kemeja, Sendal]
6               [Kaos, Jeans, Sepatu]
7                      [Sepatu, Kaos]
8               [Kaos, Jeans, Kemeja]
9              [Sepatu, Sendal, Kaos]
10                     [Kaos, Sepatu]
11                   [Sendal, Kemeja]
12    [Kemeja, Sendal, Jeans, Sepatu]
13                    [Sendal, Jeans]
14            [Sepatu, Jeans, Kemeja]
Name: items, dtype: object

In [6]:
listNumberedItems=[]
for i in range(len(cm_seperate)):
    numbered_list=list(map(lambda x:recodes[x],cm_seperate[i]))
    listNumberedItems.append(numbered_list)
    
listNumberedItems

[[1, 2],
 [3],
 [3, 5],
 [4],
 [4, 1],
 [1, 5],
 [2, 3, 4],
 [4, 2],
 [2, 3, 1],
 [4, 5, 2],
 [2, 4],
 [5, 1],
 [1, 5, 3, 4],
 [5, 3],
 [4, 3, 1]]

In [7]:
data=raw_data.copy()
data['items']=listNumberedItems
data

    tid         items
0     1        [1, 2]
1     2           [3]
2     3        [3, 5]
3     4           [4]
4     5        [4, 1]
5     6        [1, 5]
6     7     [2, 3, 4]
7     8        [4, 2]
8     9     [2, 3, 1]
9    10     [4, 5, 2]
10   11        [2, 4]
11   12        [5, 1]
12   13  [1, 5, 3, 4]
13   14        [5, 3]
14   15     [4, 3, 1]

In [8]:
data_tid=data['tid']

data_items=data['items']
data_items

0           [1, 2]
1              [3]
2           [3, 5]
3              [4]
4           [4, 1]
5           [1, 5]
6        [2, 3, 4]
7           [4, 2]
8        [2, 3, 1]
9        [4, 5, 2]
10          [2, 4]
11          [5, 1]
12    [1, 5, 3, 4]
13          [5, 3]
14       [4, 3, 1]
Name: items, dtype: object

In [19]:
'''total_count=sorted([(x,data_tid.count(x)) for x in data_items],key=lambda y:y[1])
for element in total_count:
    print(element[0],element[1])'''

'total_count=sorted([(x,data_tid.count(x)) for x in data_items],key=lambda y:y[1])\nfor element in total_count:\n    print(element[0],element[1])'

In [27]:
raw_count=[]
for i in range(len(data)):
    for j in range(len(data['items'][i])):
        raw_count.append(data['items'][i][j])
raw_count

[1,
 2,
 3,
 3,
 5,
 4,
 4,
 1,
 1,
 5,
 2,
 3,
 4,
 4,
 2,
 2,
 3,
 1,
 4,
 5,
 2,
 2,
 4,
 5,
 1,
 1,
 5,
 3,
 4,
 5,
 3,
 4,
 3,
 1]

In [47]:
uniqueNumber=[]
for i in raw_count:
    if i not in uniqueNumber:
        uniqueNumber.append(i)

print(uniqueNumber)

[1, 2, 3, 5, 4]

In [49]:
raw_count.count(2)

6

In [63]:
countSupportCount=[]

for i in (uniqueNumber):
    countSupportCount.append(raw_count.count(i))
countSupportCount

[7, 6, 7, 6, 8]

In [64]:
new_data=pd.DataFrame({'ItemSet':uniqueNumber,'Support':countSupportCount})
new_data

   ItemSet  Support
0        1        7
1        2        6
2        3        7
3        5        6
4        4        8